[Settings]
ShowAllProcesses=FALSE
ShowLegend=TRUE
MorePrecision=TRUE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=TRUE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=5
SortType=1
WindowWidth=882
WindowHeight=595
HandlePosition=108
ProcessTreeView=FALSE
