[Desktop Entry]
Comment=A X compositor
Comment[cs]=Kompozitor grafický X server
Comment[da]=En X-compositor
Comment[de]=Kompositionsmanager für X11
Comment[el]=Ένας συνθέτης X
Comment[es]=Un gestor de composición para X
Comment[gl]=Un xestor de composición para X
Comment[ja]=コンポジット機能(ウィンドウに特殊効果)をつけます
Comment[lt]=X tvarkytojas
Comment[pl]=Menedżer kompozycji dla X11
Comment[pt]=Compositor para o servidor X
Comment[tr]=Bir X bileşiklikleştiricisi
Exec=compton --dbus
GenericName=X compositor
GenericName[cs]=Kompozitor grafický X server
GenericName[de]=X11 Kompositionsmanager
GenericName[el]=Συνθέτης X
GenericName[es]=Gestor de composición para X
GenericName[gl]=Xestor de composición para X
GenericName[ja]=X コンポジター
GenericName[lt]=X tvarkytojas
GenericName[pl]=Menedżer kompozycji X11
GenericName[pt]=Compositor X
GenericName[tr]=X bileşikleştirici
Name=Compton (X Compositor)
Name[cs]=Compton (kompozitor grafický X server)
Name[da]=Compton (X-compositor)
Name[de]=Compton (X11 Kompositionsmanager)
Name[el]=Compton (Συνθέτης X)
Name[es]=Compton (Gestor de composición para X)
Name[gl]=Compton (Xestor de composición para X)
Name[ja]=Compton (X コンポジター)
Name[lt]=Compton (X tvarkytojas)
Name[pl]=Menedżer kompozycji Compton
Name[pt]=Compton (Compositor X)
Name[tr]=Compton (X Bileşikleştirici)
OnlyShowIn=LXQt;
TryExec=compton
Type=Application
X-LXQt-Module=true
