[Desktop Entry]
Categories=System;Monitor;
Comment=Psensor is a graphical temperature monitor for Linux
Exec=psensor
GenericName=Psensor
Icon=psensor
Keywords=temperature;fan;monitoring;indicator;
Name=Psensor
StartupNotify=true
TryExec=psensor
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=30
X-LXQt-Need-Tray=true
