<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Viper Tools</title>
</head>
<body>
    <h1>Valkyrie Linux Builder</h1>
    <div id="app" class="container">
        <form method="POST">
            Name:<br/>
            <input type="text" value="Ubuntu" name="osms">
            <br/>
            Version:<br/>
            <input type="text" value="18.04.5" name="osms">
            <br/>
            Release:<br/>
            <input type="text" value="bionic" name="osms">
            <br/>
            Description:<br/>
            <input type="text" value="Valkyrie Linux 21v8" name="osms">
            <br/>
            Relese notes:<br/>
            <input type="text" value="http://vsrx.work" name="osms">
            <br/>
            Extended description:<br/>
            <input type="text" value="Ubuntu 18.04.5 based" name="osms">
            <br/>
            ISO:<br/>
            <input type="file" accept=".iso">
            <br/>
            <input type="submit" value="submit" name="submit">
        <br/>
        <input type="submit" name="console" value="console">
        <input type="submit" name="synaptic" value="synaptic">
        <input type="submit" name="extract" value="extract">
        <input type="submit" name="build" value="build">
        </form>
    </div> 
</body>
</html>
