"*":
  "Remote-FTP":
    autoUploadOnSave: "never"
    connector:
      autoUploadOnSave: "never"
  core:
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Cica"
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "5909e5eb-2578-28d1-ba1d-f1b02cd33728"
  welcome:
    showOnStartup: false
